* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: #e1dbcb;
  color: #060200;
}

section {
  padding: 2rem;
}

h1,
section h2 {
  text-align: center;
  margin: 1rem 0;
}
a {
  color: #060200;
}

p {
  margin: 0.5rem 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  color: #e1dbcb;
}

footer {
  text-align: center;
}
footer,
.nav-links {
  color: #e1dbcb;
}

header,
footer {
  background-color: #36322d;
  padding: 1rem;
}

nav {
  display: flex;
  gap: 1rem;
}

a:hover {
  color: #80786e;
}

#intro-sect {
  height: 300px;
  display: grid;
  text-align: center;
  place-content: center;
}

#skill-sect {
  background-color: #302819;
  color: #e1dbcb;
}

.skills {
  font-size: 8vw;
  display: flex;
  justify-content: space-evenly;
}

#projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

#projects-container img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 4px #3028193a;
}

.projects {
  width: 400px;
  padding: 0 0 1rem;
  box-shadow: 2px 2px 5px #30281948;
  background: white;
  border-radius: 5px;
  transition: all 0.5s;
  display: grid;
  gap: 1rem;
}

.projects div {
  margin: 0 0.5rem;
}

.projects:hover {
  transform: scale(1.01);
}
